.nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    background: var(--main-bg-color);
    height: 60px;
}
.headerLogo {
    padding: 4px;
}
.headerLogoImg {
    width: 80px;
}
.menuItem {
    font-size: 30px;
    color: var(--text-color-white);
    text-decoration: none;
    margin: 30px 63px;
    line-height: 2;
}
.menuItem:hover {
    text-decoration: underline;
}
.hamburger {
    z-index: 100;
    margin-right: 16px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 8px 0 8px;
}
.menuIcon {
    color: var(--text-color-white);
}
.closeIcon {
    display: none;
    color: var(--text-color-white);
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    color: var(--text-color-white);
    padding-top: 64px;
}
.showMenu {
    transform: translateY(0);
}
   /* TABLET */
   @media (min-width: 481px) {
    .menuItem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   }
    /* DESKTOP */
    @media (min-width: 1025px) {
        .menuItem {
            font-size: 20px;
            margin: 0 20px;
        }
        .hamburger {
            display: none;
        }
        .menu {
            display: flex;
            flex-direction: row;
            text-align: right;
            position: static;
            transform: translateY(0);
            transition: none;
            list-style: none;
            padding-top: 0;
        }
    }