/* STANDARDS */

/* Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
:root {
    --main-bg-color: #FB5F4F;
    --main-bg-color-light: #EE977F;
    --main-bg-color-dark: #C51C1C;
    --main-bg-color-lightest: #FFF6E8;
    --text-color-white: #fff;
    --text-color-black: #000;
    --text-color-main: #FB5F4F;
}
/* html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant';
}
.wrapper {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
} */
html, body {
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Cormorant';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
  }
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}
.imgfitPage {
    width: 100%;
    display: block;
}
.wrapper {
    width: 100vw;
}
/* STANDARDS */




/* LOADER */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -200px;
}
/* LOADER */





/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: sticky;
    top: 0;
    background: var(--main-bg-color);
}
.siteName {
    text-decoration: none;
    color: var(--text-color-white);
    font-weight: bold;
    margin-left: 16px;
}
.menuItem {
    font-size: 30px;
    color: var(--text-color-white);
    text-decoration: none;
    margin: 30px 63px;
    line-height: 2;
}
.menuItem:hover {
    text-decoration: underline;
}
.hamburger {
    z-index: 100;
    right: 16px;
    margin-right: 16px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 8px 0 8px;
}
.closeIcon {
    display: none;
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--main-bg-color);
    color: var(--text-color-white);
    list-style: none;
    padding-top: 64px;
}
.showMenu {
    transform: translateY(0);
}
/* NAVBAR */





/* FOOTER */ 
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color-light);
    padding: 32px;
    margin-bottom: 8px;
}
.subscibe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    margin-top: 8px;
}
#email {
    width: 250px;
    height: 24px;
    padding: 20px 16px;
    margin-bottom: 20px;
    background-color: var(--main-bg-color);
    border: 0.5px solid grey;
}
#submit {
    border-style: none;
    padding: 8px 5px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.some {
    display: flex;
    flex-direction: row;
} 
.someCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 8px;
    margin-bottom: 8px;
    height: 32px;
    width: 32px;
}
/* FOOTER */ 




/* HOME PAGE */
.imgfitHome {
    width: 100%;
    display: block;
}
.homeImg {
    background-color: var(--main-bg-color-light); 
}


.carousel-container {
    position: relative;
    max-width: 481px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Open Sans';
}
.carousel-list {
    margin: 0 30px 0 30px;
}
.carousel-item {
    display: none;
}
.carousel-item.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sliderCard {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    margin-top: 20px;
}
.sliderImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sliderH3 {
    position: relative;
    top: -50px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
    object-fit: contain;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.btnPrev,
.btnNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.btnPrev {
    left: 3px;
}
.btnNext {
    right: 3px;
}
.homeDescription {
    background-color: var(--main-bg-color-light);  
    color: var(--text-color-white);
    padding: 16px;
}
h1.homeH1 {
    font-size: 32px;
    text-align: center;
}
p.homeP {
    font-family: 'Open Sans';
    padding: 30px;
    font-size: 13px;
}
/* HOME PAGE */





/* BLOGS */
/* .overview {
    display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 600px 1fr;
} */
#h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.overview {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 20px 30px;
}
.blogsContainer {
    margin: 0 auto;
    margin-top: 35px;
    max-width: 300px;
    box-shadow: var(--main-bg-color-light) 0px 1px 3px, var(--main-bg-color-light) 0px 1px 2px;
}
.blogsContainer:hover {
    box-shadow: var(--main-bg-color-light) 0px 3px 6px, var(--main-bg-color-light) 0px 3px 6px;
}
.card {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
    cursor: pointer;
}
.cardText {
    padding: 16px;
}
.published {
    color: #8a8a8a;
    font: 'Open Sans';
    font-style: italic;
    font-size: 12px;
}


.moreBlogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
}

#loadMore {
    background-color: var(--main-bg-color);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border:none; 
    border-radius:8px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}
/* #load-more {
    width: calc((100% / 3) - 8px);
    padding: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 3px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
#load-more:not([disabled]):hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
#load-more[disabled] {
    background-color: #eaeaea !important;
} */
  
/* BLOGS */





/* BLOG SPECIFIC */
.blogContent {
    padding: 40px;
}
.blogTitle {
    text-align: center;
    font-size: 32px;
}
.blogText {
    padding: 15px;
    font-family: 'Open Sans';
    font-size: 16px;
}
/* BLOG SPECIFIC */





/* CONTACT */
.getInTouch {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 16px;
}
.contactContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
.contactForm {
    color: grey;
    font-family: 'Open Sans';
    font-size: 12px;
    padding: 8px 16px;
    margin: 8px 0 4px 0;
    border-radius: 4px;
    outline: none;
    width: 300px;
    border-style: none;
    border: 2px solid var(--main-bg-color-light);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contactForm:focus {
    border: 2px solid var(--main-bg-color);
}
.contactQ {
    margin: 32px 0 4px 0;
    font-size: 16px;
    font-weight: bolder;
}
.contactBtn {
    width: 100px;
    margin-top: 8px;
    cursor: pointer;
    border-style: none;
    padding: 8px 5px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contactFalse {
    font-family: 'Open Sans';
    color: #C51C1C;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 12px;
}
.contactFalseTop {
    font-family: 'Open Sans';
    color: #C51C1C;
    font-size: 12px;
    font-style: italic;
    margin-top: 12px;
}
/* CONTACT */





/* ABOUT */
.aboutHeading {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: var(--main-bg-color-light);
    padding: 30px 16px 10px 0px;
}
.aboutTitle {
    padding: 20px 0 50px 0;
}
.founder {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}
.founderName {
    display: flex;
    flex-direction: column;
    padding: 15px 8px 0 0;
}
.founderImg {
    height: 80px;
    border-radius: 50%;
}
.aboutContent {
    padding: 40px 40px 0 40px;
}
.imgfitAbout {
    width: 100%;
    display: block;
    border-bottom: 2px solid black;
}
/* ABOUT */











    /* TABLET */
@media (min-width: 481px) {
    .imgfitHome {
        width: 70%;
        margin: auto;
        display: block;
    }
    .carousel-container {
        max-width: 1024px;
    }
    .sliderCard {
        width: 50%;
        padding: 10px;
    }
    .sliderH3 {
        top: -50px;
        padding: 10px;
        font-size: 18px;
    }
}



    /* DESKTOP */
@media (min-width: 1025px) {
    .imgfitHome {
        width: 40%;
        margin: auto;
        display: block;
    }
    .carousel-container {
        max-width: 1281px;
    }
    .sliderCard {
        width: 33.3%;
        padding: 30px;
    }
    .sliderH3 {
        top: -50px;
        padding: 15px;
        font-size: 24px;
    }
    .btnPrev {
        left: 8px;
    }
    .btnNext {
        right: 8px;
    }
}