@import './css/header.css';
@import './css/footer.css';

/* Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
:root {
    --main-bg-color: #FB5F4F;
    --main-bg-color-light: #EE977F;
    --main-bg-color-dark: #C51C1C;
    --main-bg-color-lightest: #FFF6E8;
    --text-color-white: #fff;
    --text-color-black: #000;
    --text-color-main: #FB5F4F;
}
html, body {
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Cormorant';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
  }
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}
.imgfitPage {
    width: 100%;
    display: block;
}
.wrapper {
    width: 100vw;
}


/* LOADER */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -200px;
}
/* LOADER */






/* HOME PAGE */
.imgfitHome {
    width: 100%;
    display: block;
}
.homeImg {
    background-color: var(--main-bg-color-light); 
}
.carousel-container {
    position: relative;
    max-width: 481px;
    height: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Open Sans';
}
@media (min-width: 400px) {
    .carousel-container {
        height: 39%;
}}
.carousel-list {
    margin: 0 30px 0 30px;
}
.carousel-item {
    display: none;
}
.carousel-item.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sliderCard {
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    margin-top: 20px;
}
.sliderImg {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.sliderH3 {
    position: relative;
    top: -50px;
    height: 70px;
    text-align: center;
    padding: 10px;
    object-fit: contain;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.7);
}
.btnPrev,
.btnNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
}
.btnPrev {
    left: 3px;
}
.btnNext {
    right: 3px;
}
.homeDescription {
    background-color: var(--main-bg-color-light);  
    color: var(--text-color-white);
    padding: 16px;
}
h1.homeH1 {
    font-size: 32px;
    text-align: center;
}
p.homeP {
    font-family: 'Open Sans';
    padding: 30px;
    font-size: 13px;
}
    /* TABLET */
    @media (min-width: 481px) {
        .imgfitHome {
            width: 70%;
            margin: auto;
            display: block;
        }
        .carousel-container {
            max-width: 1023px;
            height: 38%;
        }
        .sliderCard {
            width: 50%;
            padding: 10px;
        }
        .sliderH3 {
            padding: 16px;
            font-size: 18px;
        }
    }
    @media (min-width: 753px) {
        .carousel-container {
            height: 42%;
    }}
    /* DESKTOP */
    @media (min-width: 1025px) {
        .imgfitHome {
            width: 40%;
            margin: auto;
            display: block;
        }
        .carousel-container {
            max-width: 1281px;
            height: 46%;
        }
        .sliderCard {
            width: 33.3%;
            padding: 30px;
        }
        .sliderH3 {
            padding: 20px;
            font-size: 20px;
            height: 90px;
        }
        .btnPrev {
            left: 8px;
        }
        .btnNext {
            right: 8px;
        }
    }
/* HOME PAGE */





/* BLOGS */
#h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.overview {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 20px 30px;
}
.blogsContainer {
    flex-basis: 90%;
    margin: 0 auto;
    margin-top: 35px;
    box-shadow: var(--main-bg-color-light) 0px 1px 3px, var(--main-bg-color-light) 0px 1px 2px;
}
.blogsContainer:hover {
    box-shadow: var(--main-bg-color-light) 0px 3px 6px, var(--main-bg-color-light) 0px 3px 6px;
}
.card {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
    cursor: pointer;
}
.cardText {
    padding: 16px;
}
.published {
    color: #8a8a8a;
    font: 'Open Sans';
    font-style: italic;
    font-size: 11px;
}
.moreBlogs {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
}
#loadMore {
    align-items: center;
    background-color: var(--main-bg-color);
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border:none; 
    border-radius:8px; 
    padding:15px;
    margin-bottom: 8px;
    cursor: pointer;
}
#loadMore[disabled] {
    background-color: #eaeaea;
    cursor: not-allowed;
}
    /* TABLET */
    @media (min-width: 481px) {
        .blogsContainer {
            flex-basis: 43%;        /* max 3 produkter på en rad, med space*/
        }
    }
        /* DESKTOP */
    @media (min-width: 1025px) {
        .blogsContainer {
            flex-basis: 30%;        /* max 3 produkter på en rad, med space*/
        }
        .published {
            font-size: 13px;
        }
    }

/* BLOGS */





/* BLOG SPECIFIC */
.featuredImg {
    cursor: zoom-in;
    width: 100vw;
    height: 200px;
    filter: brightness(70%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 8px;
}
#img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;       
}
.backButton {
    margin-left: 8px;
    font-size: 11px;
    color: #8a8a8a;
    text-decoration: none;
}
.backButton:hover {
    color: var(--main-bg-color);
}
.blogContent {
    padding: 10px 20px;
}
.blogTitle {
    text-align: center;
    font-size: 24px;
}
.blogText {
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 0 15px;
}
.publishedSpecific {
    margin: 8px 0 30px 0;
    text-align: center;
    font-weight: lighter;
    color: #8a8a8a;
    font-size: 11px;
}
.modalImg {
    width: 100%;
}
.modal {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hidden {
    display: none;
}

    /* TABLET */
    @media (min-width: 481px) {
        .featuredImg {
            height: 250px;
        }
        .backButton {
            font-size: 15px;
        }
        .blogContent {
            padding: 10px 30px;
        }
        .blogTitle {
            font-size: 32px;
        }
        .blogText {
            font-size: 16px;
            padding: 0 10% 20px 10%;
        }
        .publishedSpecific {
            margin: 12px 0 45px 0;
            font-size: 13px;
        }
        .modal {
            width: 400px;
            height: 400px;
            top: 45%;
            margin-top: -200px;
            margin-left: -200px;
        }
    }
        /* DESKTOP */
    @media (min-width: 1025px) {
        .featuredImg {
            height: 300px;
            margin-bottom: 15px;
        }
        .backButton {
            font-size: 18px;
            margin-left: 15px;
        }
        .blogContent {
            padding: 15px 40px;
        }
        .blogTitle {
            font-size: 40px;
        }
        .blogText {
            font-size: 18px;
            padding: 0 18% 30px 18%;
        }
        .publishedSpecific {
            margin: 15px 0 60px 0;
            font-size: 16px;
        }
        .modal {
            width: 550px;
            height: 550px;
            top: 50%;
            margin-top: -275px;
            margin-left: -275px;
        }
    }
/* BLOG SPECIFIC */





/* CONTACT */
.getInTouch {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 16px;
}
.contactContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
.contactForm {
    color: grey;
    font-family: 'Open Sans';
    font-size: 12px;
    padding: 8px 16px;
    margin: 8px 0 4px 0;
    border-radius: 4px;
    outline: none;
    width: 300px;
    border-style: none;
    border: 2px solid var(--main-bg-color-light);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contactForm:focus {
    border: 2px solid var(--main-bg-color);
}
.contactQ {
    margin: 32px 0 4px 0;
    font-size: 16px;
    font-weight: bolder;
}
.contactBtn {
    width: 100px;
    margin-top: 8px;
    cursor: pointer;
    border-style: none;
    padding: 8px 5px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contactFalse {
    font-family: 'Open Sans';
    color: #C51C1C;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 12px;
}
.contactFalseTop {
    font-family: 'Open Sans';
    color: #C51C1C;
    font-size: 12px;
    font-style: italic;
    margin-top: 12px;
}
/* CONTACT */





/* ABOUT */
.aboutHeading {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: var(--main-bg-color-light);
    padding: 30px 16px 10px 0px;
}
.aboutTitle {
    padding: 20px 0 50px 0;
}
.founder {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}
.founderName {
    display: flex;
    flex-direction: column;
    padding: 15px 8px 0 0;
}
.founderImg {
    height: 80px;
    border-radius: 50%;
}
.aboutContent {
    padding: 40px 40px 0 40px;
}
.imgfitAbout {
    width: 100%;
    display: block;
    border-bottom: 2px solid black;
}
/* ABOUT */








    /* TABLET */
@media (min-width: 481px) {

}

    /* DESKTOP */
@media (min-width: 1025px) {

}